###Task

In [1]:
import pandas as pd
import numpy as np
import sqlite3

    Data Source > ETL > Data Warehouse

    Library SQLite3 :


[Documentation](https://docs.python.org/3/library/sqlite3.html)

    Task:

    1. Pergerakan harga koin BTC, ETH, XRP, LTC
    2. hanya perlu kolom :asset,name, date, open, high,low, close
    3. Convert USD -> GBP (1 USD = 0.80 GBP)
    4. replace database dg 2 hal diatas

###Ekstrak

In [2]:
df = pd.read_csv('/content/crypto-markets.csv')
df.head()

,slug,asset,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,target-coin,TGT,Target Coin,29-09-2017,607,0.028961,0.054766,0.028961,0.041777,69996,0.0,0.4966,0.03
1,target-coin,TGT,Target Coin,30-09-2017,607,0.041783,0.046196,0.031435,0.031744,5725,0.0,0.0209,0.01
2,target-coin,TGT,Target Coin,01-10-2017,607,0.031761,0.035957,0.021040,0.028385,5012,0.0,0.4924,0.01
3,target-coin,TGT,Target Coin,02-10-2017,607,0.028375,0.054595,0.020417,0.022525,8010,0.0,0.0617,0.03
4,target-coin,TGT,Target Coin,03-10-2017,607,0.022527,0.032225,0.020211,0.020359,1787,0.0,0.0123,0.01

In [3]:
df["slug"].unique()

array(['target-coin', 'hellogold', 'helbiz', 'get-protocol', 'ethos',
       'dash', 'commerceblock', 'bitcoin', 'airtoken', 'ripple',
       'litecoin'], dtype=object)

In [4]:
df['asset'].unique()

array(['TGT', 'symbol', 'HGT', 'HBZ', 'GET', 'ETHOS', 'DASH', 'CBT',
       'BTC', 'AIR', 'XRP', 'LTC'], dtype=object)

In [5]:
df['name'].unique()

array(['Target Coin', 'HelloGold', 'Helbiz', 'GET Protocol', 'Ethos',
       'Dash', 'CommerceBlock', 'Bitcoin', 'AirToken', 'Ripple',
       'Litecoin'], dtype=object)

In [6]:
df['ranknow'].unique()

array([607, 609, 608, 605,  79,  13, 606,   1, 604,   3,   6])

In [7]:
df['market'].unique()

array([       0., 28701000., 28718500., ..., 51564700., 54534200.,
       53831200.])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1587 entries, 0 to 1586
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   slug         1587 non-null   object
 1   asset        1587 non-null   object
 2   name         1587 non-null   object
 3   date         1587 non-null   object
 4   ranknow      1587 non-null   int64
 5   open         1587 non-null   float64
 6   high         1587 non-null   float64
 7   low          1587 non-null   float64
 8   close        1587 non-null   float64
 9   volume       1587 non-null   int64
 10  market       1587 non-null   float64
 11  close_ratio  1587 non-null   float64
 12  spread       1587 non-null   float64
dtypes: float64(7), int64(2), object(4)
memory usage: 161.3+ KB

In [9]:
df.describe()

,ranknow,open,high,low,close,volume,market,close_ratio,spread
count,1587.000000,1587.000000,1587.000000,1587.000000,1587.000000,1.587000e+03,1.587000e+03,1587.000000,1587.000000
mean,279.370510,102.347029,108.061266,96.541671,103.119721,1.805186e+07,9.077853e+08,0.508461,11.519326
std,295.479265,225.374727,239.445390,209.694318,226.479862,5.769504e+07,1.901148e+09,0.306725,37.379683
min,1.000000,0.003082,0.003162,0.002875,0.003092,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,6.000000,0.015166,0.018374,0.012502,0.015114,0.000000e+00,1.121655e+07,0.245550,0.000000
50%,13.000000,0.559072,0.599138,0.487651,0.564041,1.412500e+04,4.984250e+07,0.505600,0.080000
75%,605.000000,115.810000,121.695000,110.900000,116.450000,4.483670e+05,1.224325e+09,0.786400,5.875000
max,609.000000,1555.590000,1642.220000,1371.390000,1550.850000,8.168720e+08,1.361470e+10,1.000000,588.080000

###Transform

In [10]:
assetCode =['BTC', 'ETH', 'XRP', 'LTC']


#converting open,high,low,close into GBP
#if currency belong to the assetCode list

df['open'] = df[['open','asset']].apply(lambda x : (float(x[0])*0.80) if x[1] in assetCode else np.nan, axis=1 )
df['high'] = df[['high','asset']].apply(lambda x : (float(x[0])*0.80) if x[1] in assetCode else np.nan, axis=1 )
df['low'] = df[['low','asset']].apply(lambda x : (float(x[0])*0.80) if x[1] in assetCode else np.nan, axis=1 )
df['close'] = df[['close','asset']].apply(lambda x : (float(x[0])*0.80) if x[1] in assetCode else np.nan, axis=1 )

In [11]:
#dropping rows with null value
df.dropna(inplace=True)
df

,slug,asset,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
878,bitcoin,BTC,Bitcoin,28-04-2013,1,108.240,108.784,105.680,107.368,0,1.500520e+09,0.5438,3.88
879,bitcoin,BTC,Bitcoin,29-04-2013,1,107.552,117.992,107.200,115.632,0,1.491160e+09,0.7813,13.49
880,bitcoin,BTC,Bitcoin,30-04-2013,1,115.200,117.544,107.240,111.200,0,1.597780e+09,0.3843,12.88
881,bitcoin,BTC,Bitcoin,01-05-2013,1,111.200,111.912,86.176,93.592,0,1.542820e+09,0.2882,32.17
882,bitcoin,BTC,Bitcoin,02-05-2013,1,93.104,100.480,73.824,84.168,0,1.292190e+09,0.3881,33.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1582,litecoin,LTC,Litecoin,09-08-2013,6,2.168,2.208,2.128,2.144,0,5.463950e+07,0.2000,0.10
1583,litecoin,LTC,Litecoin,10-08-2013,6,2.152,2.168,2.048,2.048,0,5.420120e+07,0.0000,0.15
1584,litecoin,LTC,Litecoin,11-08-2013,6,2.040,2.176,2.024,2.152,0,5.156470e+07,0.8421,0.19
1585,litecoin,LTC,Litecoin,12-08-2013,6,2.152,2.176,2.064,2.120,0,5.453420e+07,0.5000,0.14
1586,litecoin,LTC,Litecoin,13-08-2013,6,2.128,2.208,2.096,2.192,0,5.383120e+07,0.8571,0.14

In [12]:
#reset the data index
df.reset_index(inplace=True, drop = True)
df.head()

,slug,asset,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,28-04-2013,1,108.240,108.784,105.680,107.368,0,1.500520e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,29-04-2013,1,107.552,117.992,107.200,115.632,0,1.491160e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,30-04-2013,1,115.200,117.544,107.240,111.200,0,1.597780e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,01-05-2013,1,111.200,111.912,86.176,93.592,0,1.542820e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,02-05-2013,1,93.104,100.480,73.824,84.168,0,1.292190e+09,0.3881,33.32

In [13]:
df.columns

Index(['slug', 'asset', 'name', 'date', 'ranknow', 'open', 'high', 'low',
       'close', 'volume', 'market', 'close_ratio', 'spread'],
      dtype='object')

In [14]:
#drop columns
df.drop(labels=['slug','ranknow', 'volume', 'market', 'close_ratio', 'spread'], inplace =True, axis=1)
df.head()

  asset     name        date     open     high      low    close
0   BTC  Bitcoin  28-04-2013  108.240  108.784  105.680  107.368
1   BTC  Bitcoin  29-04-2013  107.552  117.992  107.200  115.632
2   BTC  Bitcoin  30-04-2013  115.200  117.544  107.240  111.200
3   BTC  Bitcoin  01-05-2013  111.200  111.912   86.176   93.592
4   BTC  Bitcoin  02-05-2013   93.104  100.480   73.824   84.168

###Load

In [15]:
#connect function opens a connection to the SQLite data
conn = sqlite3.connect('session.db')
print(conn)

<sqlite3.Connection object at 0x7f40a99a0490>

In [16]:
#Drop  a table
try :
  conn.execute('DROP TABLE IF EXISTS "Crypto"')
except Exception as e :
  raise(e)
finally:
  print("Table Dropped")

Table Dropped

In [17]:
#Create a new table named as Crypto
try :
  conn.execute('''
      CREATE TABLE Crypto
      (ID           INTEGER PRIMARY KEY,
      ASSET         TEXT    NOT NULL,
      NAME          TEXT    NOT NULL,
      Date          datetime,
      Open          Float DEFAULT 0,
      High          Float DEFAULT 0,
      Low           Float DEFAULT 0,
      Close         Float DEFAULT 0);''')
  print('Table Created Successfully :D');

except Exception as e :
  print(str(e))
  print('Table creation failed :(')

finally:
  conn.close()

Table Created Successfully :D

In [ ]:
#convert dataframe to list
df_list = df.values.tolist()

In [19]:
#make a new connection
conn = sqlite3.connect('session.db')
print(conn)

<sqlite3.Connection object at 0x7f40a99a0570>

In [20]:
#make a cursor
cur = conn.cursor()
print(cur)

<sqlite3.Cursor object at 0x7f40a99678f0>

In [21]:
#insert data to database
try :
  cur.executemany("INSERT INTO Crypto(ASSET, NAME, Date, Open, High, Low, Close) VALUES (?,?,?,?,?,?,?)", df_list)
  conn.commit()
  print('Data Inserted Successfully :D')

except Exception as e :
  print(str(e))
  print('Data insertion Failed :(')

finally :
  conn.close()

Data Inserted Successfully :D